.footer{
    text-align: center;
    padding: 15px;
    background: #dd8a36;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}