.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0d47a1;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
