.classes-page {
  padding: 50px;
  text-align: center;
}

.class-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.class-card {
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.class-card:hover {
  background: #1976d2;
  color: white;
}
